<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MetHotels</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
    integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
    integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div class="ui secondary pointing menu" (click)="toggleMenu($event)">
    <a class="item" (click)="showComponent('ponuda')">Ponuda</a>
    <a class="item" (click)="showComponent('preporuka')">Preporuka</a>
    <a class="item" (click)="showComponent('o-nama')">O nama</a>
  </div>
   
  <div class="ui grid posts" *ngIf="isMenuVisible">
   <!-- <ng-container *ngIf="selectedComponent === 'ponuda'">
      <app-ponuda></app-ponuda>
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'preporuka'">
      <app-preporuka></app-preporuka>
    </ng-container>
    <ng-container *ngIf="selectedComponent === 'o-nama'">
      <app-o-nama></app-o-nama>
    </ng-container>-->
    <router-outlet></router-outlet>
  </div>


  <form class="ui large form segment">
    <h3 class="ui header">Dodaj sobu</h3>
    <div class="field">
      <label for="naziv">Naziv:</label>
      <input name="naziv" id="naziv" #newnaziv [(ngModel)]="naziv" (ngModelChange)="proveriDuzinu($event)">
    </div>
    <div class="field">
      <label for="link">Link:</label>
      <input name="link" id="link" #newlink>
    </div>
    <div class="field">
      <label for="brGostiju">Broj gostiju:</label>
      <input name="brGostiju" id="brGostiju" #newbrGostiju>
    </div>
    <div class="field">
      <label for="brojNoci">Broj dana:</label>
      <input type="number" name="brojNoci" id="brojNoci" [(ngModel)]="brojNoci" (ngModelChange)="cenaSobe()">
    </div>
    <div class="field">
      <label>Dodatne usluge:</label>
      <div class="ui checkbox">
        <input type="checkbox" id="klima"  name="klima"  [(ngModel)]="klima" (ngModelChange)="izracunajCenuKlima()">
        <label for="klima">Klima</label>
      </div>
      <br>
      <div class="ui checkbox">
        <input type="checkbox" id="miniBar" name="miniBar" [(ngModel)]="miniBar" (ngModelChange)="izracunajCenuKMiniBar()">
        <label for="miniBar">Mini Bar</label>
      </div>
      <br>
      <div class="ui checkbox">
        <input type="checkbox" id="sauna"  name="sauna" [(ngModel)]="sauna" (ngModelChange)="izracunajCenuSauna()">
        <label for="sauna">Sauna</label>
      </div>

    </div>

    <ng-container *ngIf="racun > 1000; else osnova">
      <div class="ui message" style="width: 70%;  ">
        <p>Vaš račun iznosi sa dodacima {{ racun }} dinara.</p>
      </div>
    </ng-container>
    
    <ng-template #osnova>
      <div class="ui message" style="width: 70%;  ">
        <p>Osnovna cena je {{ racun }} dinara.</p>
      </div>
    </ng-template>
    

<div>
    <button (click)="addSoba(newnaziv, newlink, newbrGostiju)" class="ui positive right floated button">
      Dodaj sobu
    </button>
    <button (click)="obrisiSobu(newnaziv.value)" class="ui negative right floated button">
      Obriši sobu
    </button>
</div>
    <label *ngIf="deleteStatus === 'success'" class="success-message">Soba uspešno obrisana.</label>
    <label *ngIf="deleteStatus === 'error'" class="error-message">Soba nije pronađena.</label>
    <label *ngIf="addStatus === 'greskaUDodavanju'" class="error-message">Pogresan unos.</label>
    <label *ngIf="addStatus === 'success'" class="success-message">Soba uspešno dodata.</label>
    <label *ngIf="addStatus === 'error'" class="error-message">Soba već postoji.</label>

  </form>
 
  <div class="ui grid posts">
    <app-soba *ngFor="let soba of sobe" [soba]="soba"></app-soba>

  </div>
</body>

</html>