body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.ui.secondary.pointing.menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.ui.grid.posts {
  max-width: 100%;
  width: calc(100% - 20px);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

form.ui.large.form.segment {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  top: 5%;
}

@media only screen and (max-width: 768px) {
  .ui.grid.posts {
    max-width: 100%;
    width: calc(100% - 20px);
    margin-top: 20px;
  }

  form.ui.large.form.segment {
    margin-top: 20px; 
  }
}

.success-message {
  color: rgb(5, 131, 5);
  text-shadow: 1px 1px 1px rgba(56, 52, 52, 0.2); 
  font-family: 'Arial', sans-serif; 
}

.error-message {
  color: rgb(245, 9, 9); 
  text-shadow: 1px 1px 1px rgba(82, 78, 78, 0.2); 
  font-family: 'Arial', sans-serif; 
}